﻿@{
    Script.Require("jQueryUI").AtFoot();
    Script.Include("jquery.ui.multislider.js").AtFoot();
    Script.Include("layout-element-row.js").AtFoot();
}
<fieldset class="layout-editor-element-template"
          data-template="row"
          data-icon="@Url.Content("~/Modules/Onestop.Layouts/Content/Row.png")"
          data-description="Row"
          data-iscontainer="true"
          data-can-contain="column"
          data-for-templates="false"
          data-default-xml="&lt;row/&gt;">
    <legend>Row</legend>
    <div>
        <label for="{{break}}">@T("Break layout on")</label>
        <select id="{{break}}" data-value="{{break}}" data-default-value="md">
            <option value="xs">@T("xs (phones)")</option>
            <option value="sm">@T("sm (tablets)")</option>
            <option value="md">@T("md (small desktop)")</option>
            <option value="lg">@T("lg (desktop)")</option>
        </select>
    </div>
    <div>
        <label for="{{height}}">@T("Height")</label>
        <input type="number" id="{{height}}" name="{{height}}" data-value="{{height}}" class="text-small height length" />
    </div>
    <div>
        <label for="{{class}}">@T("CSS class")</label>
        <input type="text" id="{{class}}" name="{{class}}" value="{{class}}" class="text-smallish css-class-editor" />
    </div>
</fieldset>