﻿@using Onestop.Layouts.Helpers
@{
    Script.Require("jQuery");
    Script.Require("jQueryUI_Sortable").AtFoot();
    Style.Include("~/Modules/Orchard.MediaLibrary/media-library-picker-admin.css");

    Script.Require("jQueryColorBox");
    Style.Require("jQueryColorBox");

    var prefix = String.IsNullOrWhiteSpace((string)Model.Prefix) ? "" : Model.Prefix + ".";
    var editorIndex = Html.GetLayoutEditorIndex();
    var id = prefix + "TemplatedItemData[" + editorIndex + "]";
    var textId = "templated_" + editorIndex + "_alt";
    var textName = id + "[0]";
    var urlId = "templated_" + editorIndex + "_src";
    var urlName = id + "[1]";
}
<fieldset class="layout-element-editor">
    <legend class="layout-element-index">@Model.HelperIndex - @(String.IsNullOrWhiteSpace(Model.Title) ? Model.Name : Model.Title)</legend>
    <input type="hidden" name="@(urlName).Key" value="src" />
    <div id="media-library-picker-@urlId" class="items media-library-picker">
        <div class="media-library-picker-item">
            <div class="thumbnail">
                <div class="media-thumbnail media-thumbnail-image">
                    <img src="@Display.ResizeMediaUrl(Width: 200, Height: 200, Mode: "crop", Alignment: "middlecenter", Path: Model.Url)" />
                </div>
            </div>
        </div>
    </div>
    <label for="@urlId">@T("Image URL")</label>
    <input type="text" id="@urlId" name="@(urlName).Value" value="@Model.Url" data-default-value="@Model.DefaultUrl" class="textMedium templated-live-field" />
    <span id="btn-@urlId" class="button">@T("Browse")</span>
    <span id="btn-clear-@urlId" class="button">@T("Clear")</span>
    @if (!string.IsNullOrWhiteSpace(Model.DefaultUrl)) {
        <div class="hint">@T("Leave empty to use the default <img src=\"{0}\" style=\"max-width:50px;max-height:25px;vertical-align:top;\"/>.",
        Url.IsLocalUrl(Model.DefaultUrl) ? Href(Model.DefaultUrl) : Model.DefaultUrl)</div>
    }
    <label for="@textId">@T("Alternate text")</label>
    <input type="hidden" name="@(textName).Key" value="alt" />
    <input type="text" id="@textId" name="@(textName).Value" value="@Model.AlternateText" data-default-value="@Model.DefaultAlt" class="textMedium templated-live-field" />
    @if (!string.IsNullOrWhiteSpace(Model.DefaultAlt))
    {
        <div class="hint">@T("Leave empty to use the default \"{0}\".", Model.DefaultAlt)</div>
    }
</fieldset>

@using (Script.Foot()) {
<script type="text/javascript">
    //<![CDATA[
    (function ($) {
        var browseButton = $('#btn-@(urlId)'),
            clearButton = $('#btn-clear-@(urlId)')
            @(urlId)_Template = '<div class="media-library-picker-item"><div class="thumbnail">{thumbnail}</div></div>';

        browseButton.click(function () {
            var url = '@HttpUtility.JavaScriptStringEncode(Url.Action("Index", "Admin", new {area = "Orchard.MediaLibrary", dialog = true}))';
            $.colorbox({
                href: url,
                iframe: true,
                reposition: true,
                width: "100%",
                height: "100%",
                onLoad: function () { // hide the scrollbars from the main window
                    $('html, body').css('overflow', 'hidden');
                    $('#cboxClose').remove();
                },
                onClosed: function () {
                    $('html, body').css('overflow', '');
                    var selectedData = $.colorbox.selectedData;
                    if (selectedData == null || selectedData.length == 0) return;
                    var selectedImage = selectedData[0],
                        template = @(urlId)_Template.replace(/\{thumbnail\}/g, selectedImage.thumbnail),
                        content = $(template),
                        applicationPath = '@Url.RequestContext.HttpContext.Request.ApplicationPath.ToLower()';
                    if (!/\/$/.test(applicationPath)) {
                        applicationPath += '/';
                    }
                    var url = selectedImage.resource;
                    if (url.substr(0, 4) != "http") {
                        url = '~/' + url.substr(applicationPath.length);
                    }
                    $("#@(urlId)").val(url).change();
                    $("#@(textId)").val(selectedImage.alternateText).change();
                    $('#media-library-picker-@(urlId)').html(content);
                }
            });
        });

        clearButton.click(function() {
            $("#@(urlId)").val('').change();
            $("#@(textId)").val('').change();
            $('#media-library-picker-@(urlId)').html('');
        });
    })(jQuery);
    //]]>
</script>
}