﻿@using System.Globalization
@using Orchard.ContentManagement
@using Orchard.Core.Title.Models
@model Onestop.Layouts.Settings.TemplatedItemPartSettings
@{
    var layoutId = 0;
    var templates = Model.Templates.ToList();
    var templateSelectListItems =
        (new[] {
            new SelectListItem {
                Text = T("None").Text,
                Value = "0"
            }
        }).Union(
            templates
                .OrderBy(l => l.ContentItem.As<TitlePart>().Title)
                .Select(l => new SelectListItem
                {
                    Text = l.ContentItem.As<TitlePart>().Title,
                    Value = l.Id.ToString(CultureInfo.InvariantCulture),
                    Selected = l.Id == layoutId
                }));
}
<fieldset>
    @Html.CheckBox("AllowTemplateChoice", Model.AllowTemplateChoice.GetValueOrDefault(), new {@id=Html.FieldIdFor(m => m.AllowTemplateChoice), @class="check-box"})
    <label for="@Html.FieldIdFor(m => m.AllowTemplateChoice)" class="forcheckbox">@T("Allow template choice")</label>
</fieldset>
<fieldset>
    <label for="@Html.FieldIdFor(m => m.DefaultTemplateId)">@T("Default template")</label>
    @Html.DropDownListFor(m => m.DefaultTemplateId, templateSelectListItems, T("Default template"))
</fieldset>